@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

.hero-bg-image
{
background: url(https://images.unsplash.com/photo-1553696590-4b3f68898333?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80) no-repeat center center /cover ;
background-attachment: fixed ;
height: 700px;
}
